
{% include 'header.html' %} 
{% for empleado in empleados %}
    
   <form action="/update" method="POST" enctype="multipart/form-data">

        <div class="card">
            <div class="card-header">
                Ingresar Empleado
            </div>
            <div class="card-body">
                <h4 class="card-title">Datos del Empleado</h4>
    
                <div class="form-group">
                    <label for="txtID">Nombre:</label>
                    <input type="hidden" name="txtID" id="txtID" value="{{ empleado[0] }}" class="form-control" placeholder="" aria-describedby="helpId">
                </div>


                <div class="form-group">
                  <label for="txtNombre">Nombre:</label>
                  <input type="text" name="txtNombre" id="txtNombre" value="{{ empleado[1] }}" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
    
                <div class="form-group">
                    <label for="txtCorreo">Correo:</label>
                    <input type="text" name="txtCorreo" id="txtCorreo" value="{{ empleado[2] }}" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
    
                <div class="form-group">
                    <label for="txtFoto">Foto:</label>
                    <img class="img-thumbnail" width="100" src="{{ url_for('uploads', nombreFoto= empleado[3]) }}" alt="">
                    <input type="file" name="txtFoto" id="txtFoto" class="form-control" >                    
                </div>
    
                <div class="form-group">
                    <input type="submit" class= "btn btn-success" value="Agregar">
                    <a href="{{url_for('index')}}" class="btn btn-primary">Regresar</a>
                </div>            
            </div>
        </div>
    </form>
{% endfor %}

{% include 'footer.html' %}